div.tarjeta {
  display: block;
  background-color: #FFFFFF;
  margin: 0% 5%;
  border-radius: 5px;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  padding: 10px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

#tterror {
  display: block;
  background-color: #B3B5B5;
  margin: 0% 5%;
  border-radius: 5px;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  padding: 10px;
  opacity: 1;
}

#ficcion {
  display: block;
  background-color: #DE8CBC;
  margin: 2% 5%;
  border-radius: 5px;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  padding: 10px;
  opacity: 1;
}

div.cabecera {
  display: block;
  background-color: #FFFFFF;
  margin: 2% 5%;
  border-radius: 5px;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  padding: 10px;
  opacity: 0.6;
  filter: alpha(opacity=60);
}

#fantasia {
  display: block;
  background-color: #BFB4A4;
  margin: 2% 5%;
  border-radius: 5px;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  padding: 10px;
}

#terror {
  display: block;
  background-color: #B3B5B5;
  margin: 2% 5%;
  border-radius: 5px;
  box-shadow: 0 3px 7px -1px rgba(#000, .1);
  padding: 10px;
  opacity: 1;
}

html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
  font-family: courier
}

.categorias {
  font-size: 28px;
}

tarjeta.h1, ul {
  font-weight: bold;
  color: #000000;
}
